In [7]:
import sys
import os
import pandas as pd

sys.path.insert(0, os.path.abspath(os.path.join(os.getcwd(), "src")))
from data_loader import DataLoader
from data_cleaner import DataCleaner

# Load data
loader = DataLoader()
df = loader.load_data()

# Clean data
cleaner = DataCleaner()
cleaned_df = cleaner.clean_data(df)

# Visualize: show first few rows and summary
display(cleaned_df.head())
display(cleaned_df.info())

2025-05-17 14:20:21.554 | INFO     | data_cleaner:remove_columns:211 - No columns to remove, all columns are defined in the config!

,Client ID,Age,Occupation,Marital Status,Education Level,Credit Default,Housing Loan,Personal Loan,Contact Method,Campaign Calls,Previous Contact Days,Subscription Status
0,32885,57,technician,married,high.school,no,no,yes,Cell,1,999,no
1,3170,55,unknown,married,unknown,unknown,yes,no,telephone,2,999,no
2,32207,33,blue-collar,married,basic.9y,no,no,no,cellular,1,999,no
3,9404,36,admin.,married,high.school,no,no,no,Telephone,4,999,no
4,14021,27,housemaid,married,high.school,no,None,no,Cell,2,999,no

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Client ID              41188 non-null  int64
 1   Age                    41188 non-null  int64
 2   Occupation             41188 non-null  object
 3   Marital Status         41188 non-null  object
 4   Education Level        41188 non-null  object
 5   Credit Default         41188 non-null  object
 6   Housing Loan           16006 non-null  object
 7   Personal Loan          36165 non-null  object
 8   Contact Method         41188 non-null  object
 9   Campaign Calls         41188 non-null  int64
 10  Previous Contact Days  41188 non-null  int64
 11  Subscription Status    41188 non-null  object
dtypes: int64(4), object(8)
memory usage: 3.8+ MB

None